* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    min-height: 100vh;
    overflow: auto;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 100px;
    z-index: 100;
}
header nav ul li{
    display: inline;
}

header nav ul li a{
    font-size: 1.1em;
    color: aqua;
    text-decoration: none;
    margin-left: 20px;
    padding: 6px 15px;
}
header nav ul li a:hover{
    color: yellow;
}

.logo {
    width: 150px;
    height: 150px;
}

.conteudo{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url('/exercicio-frontend-1/img/fundo.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.conteudo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.conteudo img#bigmac {
    width: 900px;
    height: 900px;
    transform: translate(-450px);
}

.conteudo img#fritas{
    width: 500px;
    height: 700px;
    transform: translate(750px);
}

.conteudo2{
    position: relative;
    border: 1px solid green;
    
}

#text {
    position: absolute;
    font-size: 2.1em;
    color: white;
    text-shadow: 2px 4px 5px rgb(229, 123, 9);
}